.person-picture {
  &__image {
    border-radius: 50%;
    &--small {
      width: 50px;
      height: 50px;
    }
    &--medium {
      width: 75px;
      height: 75px;
    }
  }
  &__placeholder {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #ccebf5;
    color: #3487f5;
    margin: 0 auto;
  }
}
