.person-details-container {

  .person-icon {
    text-align: center;
    margin: 1rem auto;
  }

  .name, .phone {
    text-align: center;
    margin: 0.5rem 0;
  }
  .name {
    font-weight: 600;
  }
  .phone {
    color: #06b706;
    margin-bottom: 1.5rem;
  }

  .label, .value {
    color: gray;
    margin-top: 1rem;
  }
  .label {
    text-align: right;
    font-weight: 600;
  }
  .value {
    font-weight: 300;
  }

}
