.person {
  padding: 1rem;
  border: 2px solid whitesmoke;
  cursor: pointer;
  background-color: white;
}
.person:hover {
  background-color: whitesmoke;
  transition: .2s ease-in;
}
.org {
  color: gray;
  margin: 0.25rem 0;
}
.org__name {
  font-size: smaller;
}
.org__icon {
  margin-right: 0.5rem;
}
.back-button, .back-button:hover {
  background-color: white;
  color: black;
  border-color: lightgray;
  width: 5rem;
}
