body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #25292c;
}

.separator {
  width: 100%;
  border-bottom: 2px solid whitesmoke;
}

.modal-title {
  width: 100%;
}
.modal-content {
  border-radius: 0;
}
.modal-header, .modal-footer {
  background-color: whitesmoke;
}
